.form{
    border: 1px solid black;
    border-radius:5pt;
    background-color: aqua;
    margin: 5px;
    padding: 5px;
    max-width: 500px;
    min-width: 200px;
    flex: 1 1 200px;
    transition: 1s;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.form:hover{
    background-color: rgb(28, 158, 139);
    flex: 1 1 300px;
    transition: 1s;
}